<a href="https://colab.research.google.com/github/iam-fern/DPDM/blob/master/Data101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ตัวอย่างการเรียกใช้ package ที่ชื่อว่า pandas

pandas คือ library หนึ่งใน Python ที่มีความสามารถในการสำหรับจัดเตรียม ทำความสะอาด เก็บกวาดข้อมูลไว้สำหรับการทำ data visualization และสร้าง model

In [1]:
import pandas

ย่อ pandas เป็น as pd ทำให้พิมพ์สั้นลง โค้ดดูสั้นลง แต่ไม่จำเป็นต้องย่อก็ได้

In [2]:
import pandas as pd

นำ drive เข้า แล้วยืนยันตัวตนว่าเราจะเชื่อมโยงกับบัญชีอีเมลไหน

In [3]:
from google.colab import drive

In [4]:
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

เรียกใช้ package os

In [5]:
import os

In [6]:
os.listdir('/content/drive/My Drive/DWDM_material')

['test.csv']

เรียกใช้ข้อมูลจากไฟล์ โดยผ่านฟังก์ชัน ที่ชื่อว่า read_csv

In [7]:
pd.read_csv('/content/drive/My Drive/DWDM_material/test.csv')

     Unnamed: 0        x        y
0             0  55.3846  97.1795
1             1  51.5385  96.0256
2             2  46.1538  94.4872
3             3  42.8205  91.4103
4             4  40.7692  88.3333
..          ...      ...      ...
137         137  39.4872  25.3846
138         138  91.2821  41.5385
139         139  50.0000  95.7692
140         140  47.9487  95.0000
141         141  44.1026  92.6923

[142 rows x 3 columns]