<a href="https://colab.research.google.com/github/iam-fern/DPDM/blob/master/Data103_Distance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np      #libraly ที่ทำงานเกี่ยวกับตัวเลข เป็น data arrray นั่นก็คือเมทริกซ์

In [ ]:
A = np.array([[1, 2, 3], [4, 5, 6]])
A

array([[1, 2, 3],
       [4, 5, 6]])

In [ ]:
A.T

array([[1, 4],
       [2, 5],
       [3, 6]])

In [ ]:
A.dot(A.T)

array([[14, 32],
       [32, 77]])

# Array slicing

In [ ]:
A[0, 1]                     #ค่าที่อยู่แถวที่ 0 หลักที่ 1 อันนี้คือชี้ 1 ค่า

2

In [ ]:
A

array([[1, 2, 3],
       [4, 5, 6]])

In [ ]:
A[:, :2]                     #ข้างหน้าคือแถว หลังคือหลัก อันนี้คือเอาทุกแถว จากตัวแรก และจากหลักแรกถึงหลักที่ 2

array([[1, 2],
       [4, 5]])

In [ ]:
A[1, 1:]

array([5, 6])

# Distance matrix (Manhattan)

In [ ]:
data = np.array([[1, 2], [3, 5], [2, 0], [4, 5]])
data

array([[1, 2],
       [3, 5],
       [2, 0],
       [4, 5]])

In [ ]:
def Manhattan_dist(dp1, dp2):
  distX = abs(dp1[0]-dp2[0])
  distY = abs(dp1[1]-dp2[1])
  return distX + distY

In [ ]:
np.zeros((4,4))           #zeros คือการสร้าง array ขนาด 4*4

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [ ]:
7*np.ones((4,4))          #ones คือสามารถเปลี่ยนเป็นอะไรก็ได้

array([[7., 7., 7., 7.],
       [7., 7., 7., 7.],
       [7., 7., 7., 7.],
       [7., 7., 7., 7.]])

In [ ]:
dist_mat_man = np.zeros((4,4))
dist_mat_man

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [ ]:
for i in range(4):
  for j in range(4):
    dist_mat_man[i,j] = Manhattan_dist(data[i,:], data[j,:])

dist_mat_man

array([[0., 5., 3., 6.],
       [5., 0., 6., 1.],
       [3., 6., 0., 7.],
       [6., 1., 7., 0.]])

## HW6 : สร้าง Distance metrix (Euclidean) ของ data matrix ใน slides โดยสร้าง function สำหรับคำนวณ Euclidean Distance

In [ ]:
import math
import numpy as np

In [ ]:
data1 = np.array([[1,2], [3,5], [2,0], [4,5]])
data1

array([[1, 2],
       [3, 5],
       [2, 0],
       [4, 5]])

In [ ]:
def Euclidean_dist(dp1, dp2):
  distX = abs(dp1[0]-dp2[0])
  distY = abs(dp1[1]-dp2[1])
  return math.sqrt(distX**2 + distY**2)

In [ ]:
np.zeros((4,4))                    #zeros คือการสร้าง array เปล่าขนาด 4*4

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [ ]:
dist_euclidean = np.zeros((4,4))
dist_euclidean

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [ ]:
for i in range(4):
    for j in range(4):
        dist_euclidean[i,j] = Euclidean_dist(data1[i,:],data1[j,:]) 

dist_euclidean

array([[0.        , 3.60555128, 2.23606798, 4.24264069],
       [3.60555128, 0.        , 5.09901951, 1.        ],
       [2.23606798, 5.09901951, 0.        , 5.38516481],
       [4.24264069, 1.        , 5.38516481, 0.        ]])

# ไปพิมเพิ่ม

## Categorical feature distance method #2

In [13]:
import math
import numpy as np
import pandas as pd

In [15]:
data_dict2 = {'color' : ['red','red','green', 'blue'],
             'status' : ['single','married','single', 'divorced']}
data_pd2 = pd.DataFrame.from_dict(data_dict2)
data_pd2

   color    status
0    red    single
1    red   married
2  green    single
3   blue  divorced

In [21]:
data_pd_binary = pd.get_dummies(data_pd2)
data_pd_binary = data_pd_binary.iloc[:3, :]
data_pd_binary

   color_blue  color_green  ...  status_married  status_single
0           0            0  ...               0              1
1           0            0  ...               1              0
2           0            1  ...               0              1

[3 rows x 6 columns]

In [22]:
def binary_sym_dist(data1, data2):
  r = 0
  s = 0
  t = 0
  q = 0
  for i in range(len(data1)):
    if data1[i] != data2[i]:
      if data1[i] == 0:
        s = s + 1
      else:
        r = r + 1
    else:
      if data1[i] == 0:
        t = t + 1
      else:
        q = q + 1
  return (r+s)/(r+s+t+q)

In [23]:
binary_sym_dist(list(data_pd_binary.iloc[0, :]), list(data_pd_binary.iloc[1, :]))

0.3333333333333333

## HW8 : Calculate distance matrix of data_pd_binary using binary_sym_dist()

In [31]:
dist_data_pd2 = np.zeros((3,3)) 
dist_data_pd2

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [32]:
for i in range(3):
  for j in range(3):
    dist_data_pd2[i,j] = binary_sym_dist(list(data_pd_binary.iloc[i, :]), list(data_pd_binary.iloc[j, :]))
dist_data_pd2

array([[0.        , 0.33333333, 0.33333333],
       [0.33333333, 0.        , 0.66666667],
       [0.33333333, 0.66666667, 0.        ]])