<a href="https://colab.research.google.com/github/iam-fern/DPDM/blob/master/Pandas_and_Data_Preprocessing_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![panda.jpg]()

## Connect with Google drive

In [1]:
from google.colab import drive
drive.mount('/content/drive')

base_path = '/content/drive/My Drive/DWDM_material'

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
4/4AFDk9WEJj-lHVQtahDNoBevC9jtneqBqIA5T6FWIpdgPezejkqbaDM
Mounted at /content/drive

## Create path variables to store where is the data files

In [2]:
import os
import pandas as pd

In [3]:
search_click = os.path.join(base_path, 'search_click.csv')
w_restaurant = os.path.join(base_path, 'w_restaurant.csv')

## Then use pandas to load the data into the environment

In [4]:
search_click_df = pd.read_csv(search_click)   
search_click_df.head()                          # show head of the data table

  click_timestamp                             search_id  ...  time_diff_nanos   ads
0         11:38.9  5c004472-5ecc-4159-9698-9f329b8e26e1  ...     2.222400e+15  True
1         30:51.3  5f34eca0-c04e-4c10-b600-54aa447dbd8e  ...     4.608380e+14  True
2         32:09.6  8dc6d1f0-11f1-4239-9dd2-5c1674c81224  ...     2.581490e+15  True
3         00:59.8  1a5810e9-3d1f-44b9-9a2e-26ede21c524b  ...     1.404580e+15  True
4         23:36.8  6bc75e0d-fc65-471e-9926-ff6be6708639  ...     9.333590e+14  True

[5 rows x 6 columns]

In [5]:
w_restaurant_df = pd.read_csv(w_restaurant)
w_restaurant_df.head()                          # show head of the data table

   id              name  domain_id  ...  hotel_restaurant pet_friendly delivery
0   2  นครินทร์ทันตกรรม          2  ...               NaN          NaN      NaN
1   4      Corner House          1  ...               NaN          NaN      NaN
2   5    วัดโลกยสุธาราม          4  ...               NaN          NaN      NaN
3   6    นันท์คาราโอเกะ          1  ...               NaN          NaN      NaN
4   7       Buono Caffe          1  ...               NaN          NaN      NaN

[5 rows x 32 columns]

## To check if the dimension of loaded data is correct as described in the description
shape คือดูรูปร่างของตารางว่าเป็นอย่างไร

In [6]:
search_click_df.shape

(1048575, 6)

In [7]:
w_restaurant_df.shape     # จำนวน row กับจำนวน colum มี 32 แอคทิบิว/ฟีเจอร์

(246847, 32)

In [8]:
search_click_df.shape[0]

1048575

## It seem everything is ok, let's have fun with data
## 0. Point to data in the table
### normal indexing

In [9]:
search_click_df['search_id']

0          5c004472-5ecc-4159-9698-9f329b8e26e1
1          5f34eca0-c04e-4c10-b600-54aa447dbd8e
2          8dc6d1f0-11f1-4239-9dd2-5c1674c81224
3          1a5810e9-3d1f-44b9-9a2e-26ede21c524b
4          6bc75e0d-fc65-471e-9926-ff6be6708639
                           ...
1048570    99aab616-6fc5-4fbf-994b-4aebee7bb360
1048571    d70a2c5d-ee94-4e4c-9f7c-c5faac6db12a
1048572    4c1de7fe-300e-41aa-9d01-914344fc3753
1048573    2ec0ddec-e450-4b98-9779-42b77aa7eda5
1048574    5741d9cf-b9f1-441d-aa83-d2b0179bf874
Name: search_id, Length: 1048575, dtype: object

In [10]:
search_click_df['search_id'][0]         # เรียกใช้เฉพาะบาง colum

'5c004472-5ecc-4159-9698-9f329b8e26e1'

In [11]:
w_restaurant_df[['name', 'city_name', 'weighted_average_rating']]

                                        name  ... weighted_average_rating
0                           นครินทร์ทันตกรรม  ...                5.000000
1                               Corner House  ...                2.000000
2                             วัดโลกยสุธาราม  ...                4.000000
3                             นันท์คาราโอเกะ  ...                0.000000
4                                Buono Caffe  ...                3.738462
...                                      ...  ...                     ...
246842                            Sushi Tama  ...                3.663522
246843                     สะบายดี คาราโอเกะ  ...                0.000000
246844                      สเต็กแม่&กาแฟลูก  ...                4.000000
246845                              Mom Made  ...                5.000000
246846  ก๋วยเตี๋ยวหมูน้ำตก ก๋วยเตี๋ยวเรือทอง  ...                3.000000

[246847 rows x 3 columns]

# .iloc จะมองตัวตารางเป็นเมทริกซ์ หน้าคือแถว หลังคือหลัก

In [12]:
search_click_df.iloc[0, 1]

'5c004472-5ecc-4159-9698-9f329b8e26e1'

In [13]:
search_click_df.iloc[:10 , :2]

  click_timestamp                             search_id
0         11:38.9  5c004472-5ecc-4159-9698-9f329b8e26e1
1         30:51.3  5f34eca0-c04e-4c10-b600-54aa447dbd8e
2         32:09.6  8dc6d1f0-11f1-4239-9dd2-5c1674c81224
3         00:59.8  1a5810e9-3d1f-44b9-9a2e-26ede21c524b
4         23:36.8  6bc75e0d-fc65-471e-9926-ff6be6708639
5         48:16.7  92ea02ba-2c89-4efd-973c-e23526c531de
6         39:18.4  79d61918-fb3e-4181-99b6-7a7abddfcdb1
7         33:39.0  7f8b2b57-dea1-4fe1-84c8-5a7d63750e47
8         07:48.3  3d9217bb-3eae-42b5-8cf3-a756efae2cfa
9         41:25.4  a2cb0d41-6e1f-4169-9140-cb671fbb41dc

## 1. Missing Value

In [14]:
search_click_df.isnull()          # จะเป็นการเช็คว่าเจอ missing value หรือไม่ ถ้าไม่มีก็จะขึ้นว่า false ว่าไม่เจอ

         click_timestamp  search_id  ...  time_diff_nanos    ads
0                  False      False  ...            False  False
1                  False      False  ...            False  False
2                  False      False  ...            False  False
3                  False      False  ...            False  False
4                  False      False  ...            False  False
...                  ...        ...  ...              ...    ...
1048570            False      False  ...            False  False
1048571            False      False  ...            False  False
1048572            False      False  ...            False  False
1048573            False      False  ...            False  False
1048574            False      False  ...            False  False

[1048575 rows x 6 columns]

In [15]:
search_click_df.isnull().any()        # สรุปความจริงทั้งหมดในฝั่ง colum

click_timestamp     False
search_id            True
business_id          True
display_position    False
time_diff_nanos     False
ads                 False
dtype: bool

In [16]:
search_click_df.isnull().all()

click_timestamp     False
search_id           False
business_id         False
display_position    False
time_diff_nanos     False
ads                 False
dtype: bool

In [17]:
search_click_df.isnull().any().any()

True

## Handling missing values 1

In [18]:
search_click_df_nm = search_click_df.dropna()  # ลบแถวที่มี missing ออก

In [19]:
search_click_df_nm.isnull().any().any()

False

In [20]:
print(search_click_df.shape)
print(search_click_df_nm.shape)

(1048575, 6)
(1048206, 6)

In [21]:
search_click_df.shape[0] - search_click_df_nm.shape[0]

369

## Excercise 1 ตรวจสอบว่าการลบข้อมูล missing ออกจากตาราง w_restarant จะทำให้ข้อมูลลดลงกี่ %

In [22]:
w_restaurant_df.isnull()

           id   name  domain_id  ...  hotel_restaurant  pet_friendly  delivery
0       False  False      False  ...              True          True      True
1       False  False      False  ...              True          True      True
2       False  False      False  ...              True          True      True
3       False  False      False  ...              True          True      True
4       False  False      False  ...              True          True      True
...       ...    ...        ...  ...               ...           ...       ...
246842  False  False      False  ...              True          True      True
246843  False  False      False  ...              True          True      True
246844  False  False      False  ...              True          True      True
246845  False  False      False  ...              True          True      True
246846  False  False      False  ...              True          True      True

[246847 rows x 32 columns]

In [23]:
w_restaurant_df.isnull().any()

id                         False
name                       False
domain_id                  False
closed                     False
city_name                  False
zipcode                     True
geohash                    False
new_open                   False
weighted_average_rating    False
number_of_chains            True
number_of_bookmarks         True
number_of_reviews          False
number_of_product_tags     False
total_number_of_views      False
number_of_checkins         False
number_of_menu_groups      False
number_of_menu_photos      False
category_name              False
price_range                 True
avg_price                   True
parking                     True
credit_card_accepted        True
good_for_groups             True
good_for_kids               True
bookable                    True
best_of_wongnai             True
wifi                        True
number_of_seats             True
music_venue                 True
hotel_restaurant            True
pet_friendly                True
delivery                    True
dtype: bool

In [24]:
w_restaurant_df_nm = w_restaurant_df.dropna()
w_restaurant_df_nm

            id                  name  ...  pet_friendly  delivery
23976    36475  เซี๊ยะก๋วยเตี๋ยวเป็ด  ...           0.0       1.0
81107   126467        Cheevit Cheeva  ...           0.0       0.0
100828  152705         Cafe' Kantary  ...           0.0       0.0
220216  304296             ครัวอัปษร  ...           0.0       1.0

[4 rows x 32 columns]

In [25]:
print(w_restaurant_df.shape)
print(w_restaurant_df_nm.shape)

(246847, 32)
(4, 32)

In [26]:
w_restaurant_df.shape[0] - w_restaurant_df_nm.shape[0]

246843

In [27]:
(w_restaurant_df.shape[0] - w_restaurant_df_nm.shape[0])/(w_restaurant_df.shape[0])*100

99.99837956304918

## Method 1.5

In [28]:
w_restaurant_df.isnull().any()

id                         False
name                       False
domain_id                  False
closed                     False
city_name                  False
zipcode                     True
geohash                    False
new_open                   False
weighted_average_rating    False
number_of_chains            True
number_of_bookmarks         True
number_of_reviews          False
number_of_product_tags     False
total_number_of_views      False
number_of_checkins         False
number_of_menu_groups      False
number_of_menu_photos      False
category_name              False
price_range                 True
avg_price                   True
parking                     True
credit_card_accepted        True
good_for_groups             True
good_for_kids               True
bookable                    True
best_of_wongnai             True
wifi                        True
number_of_seats             True
music_venue                 True
hotel_restaurant            True
pet_friendly                True
delivery                    True
dtype: bool

In [29]:
w_restaurant_df.dropna(subset=['id', 'name', 'avg_price']).shape        # เลือกดูเฉพาะ 'id', 'name', 'avg_price'

(4572, 32)

In [30]:
w_rest_dropped_avgprice = w_restaurant_df.dropna(subset=['id', 'name', 'avg_price'])
w_rest_dropped_avgprice.head()

      id                         name  ...  pet_friendly  delivery
11    27              แพอาหารธาราบุรี  ...           NaN       NaN
67   123                  เล็กกุ้งเผา  ...           NaN       NaN
91   175                 ใต้ต้นมะม่วง  ...           NaN       NaN
129  262  Oniku Shabushabu & Yakiniku  ...           NaN       1.0
134  271                     Cafe Cha  ...           NaN       NaN

[5 rows x 32 columns]

In [31]:
w_restaurant_df.dropna(subset=['id', 'name', 'avg_price'])['avg_price'].mean()          # หา mean เฉพาะ colum

327.44728783902013

## Method 2 (replace with reasonable value) : เติมเลขที่สมเหตุสมผล
we are replacing missing value in the number of chains with 0   #number of chains : จำนวนสาขา

In [32]:
w_restaurant_df[['number_of_chains']] = w_restaurant_df[['number_of_chains']].fillna(0)       # แก้ด้วยการแทนค่าเลขที่เราต้องการ ชื่อนี้ ตารางนี้ จะถูกแทนค่าด้วย 0 แต่เติมด้วยเลขนี้เพราะว่าอะไร ร้านส่วนใหญ่มีสาขาหรือเปล่า

In [33]:
w_restaurant_df.isnull().any()

id                         False
name                       False
domain_id                  False
closed                     False
city_name                  False
zipcode                     True
geohash                    False
new_open                   False
weighted_average_rating    False
number_of_chains           False
number_of_bookmarks         True
number_of_reviews          False
number_of_product_tags     False
total_number_of_views      False
number_of_checkins         False
number_of_menu_groups      False
number_of_menu_photos      False
category_name              False
price_range                 True
avg_price                   True
parking                     True
credit_card_accepted        True
good_for_groups             True
good_for_kids               True
bookable                    True
best_of_wongnai             True
wifi                        True
number_of_seats             True
music_venue                 True
hotel_restaurant            True
pet_friendly                True
delivery                    True
dtype: bool

## Method 2.1 (replace with unknown value) : เติมด้วย unknown
## Method 2.2 (replace with mean) : เติมด้วยค่าเฉลี่ยของช่องนั้น

## Method 3

In [34]:
new_table = w_restaurant_df[['name','city_name','avg_price']]
new_table

                                        name  ... avg_price
0                           นครินทร์ทันตกรรม  ...       NaN
1                               Corner House  ...       NaN
2                             วัดโลกยสุธาราม  ...       NaN
3                             นันท์คาราโอเกะ  ...       NaN
4                                Buono Caffe  ...       NaN
...                                      ...  ...       ...
246842                            Sushi Tama  ...       NaN
246843                     สะบายดี คาราโอเกะ  ...       NaN
246844                      สเต็กแม่&กาแฟลูก  ...       NaN
246845                              Mom Made  ...       NaN
246846  ก๋วยเตี๋ยวหมูน้ำตก ก๋วยเตี๋ยวเรือทอง  ...       NaN

[246847 rows x 3 columns]

## [PD] selected

In [35]:
selected_list = new_table['city_name'] == 'Bangkok Metropolitan Region'         # list ของชื่อในคอลัมเนม ค่าไหนเท่ากับ กทม. ก็จะเป็น true
selected_list

0         False
1          True
2         False
3          True
4          True
          ...
246842     True
246843     True
246844     True
246845    False
246846    False
Name: city_name, Length: 246847, dtype: bool

In [36]:
new_table[selected_list].head()

              name                    city_name  avg_price
1     Corner House  Bangkok Metropolitan Region        NaN
3   นันท์คาราโอเกะ  Bangkok Metropolitan Region        NaN
4      Buono Caffe  Bangkok Metropolitan Region        NaN
7         Sazanami  Bangkok Metropolitan Region        NaN
10  Rotee Me Chabu  Bangkok Metropolitan Region        NaN

In [37]:
new_table[new_table['city_name'] == 'Bangkok Metropolitan Region'].head()

              name                    city_name  avg_price
1     Corner House  Bangkok Metropolitan Region        NaN
3   นันท์คาราโอเกะ  Bangkok Metropolitan Region        NaN
4      Buono Caffe  Bangkok Metropolitan Region        NaN
7         Sazanami  Bangkok Metropolitan Region        NaN
10  Rotee Me Chabu  Bangkok Metropolitan Region        NaN

## หาราคาเฉลี่ยของร้านในจังหวัดกรุงเทพ

In [38]:
new_table[new_table['city_name']=='Bangkok Metropolitan Region'].dropna()['avg_price'].mean()

392.5854715094968

### 1. เลือกเฉพาะ กทม

In [39]:
bkk_table = new_table[new_table['city_name']=='Bangkok Metropolitan Region']
bkk_table.head()

              name                    city_name  avg_price
1     Corner House  Bangkok Metropolitan Region        NaN
3   นันท์คาราโอเกะ  Bangkok Metropolitan Region        NaN
4      Buono Caffe  Bangkok Metropolitan Region        NaN
7         Sazanami  Bangkok Metropolitan Region        NaN
10  Rotee Me Chabu  Bangkok Metropolitan Region        NaN

### 2. ลบ missing

In [40]:
bkk_table_dp = bkk_table.dropna()
bkk_table_dp.head()

                            name                    city_name  avg_price
67                   เล็กกุ้งเผา  Bangkok Metropolitan Region      375.0
134                     Cafe Cha  Bangkok Metropolitan Region      175.0
247           Masterpiece clinic  Bangkok Metropolitan Region     1500.0
319  Chaba Nails & Eyelashes Pro  Bangkok Metropolitan Region      375.0
382                Panlee Bakery  Bangkok Metropolitan Region      175.0

### 3. เลือกเฉพาะ column 'avg_price'

In [41]:
bkk_table_dp_avg_price = bkk_table_dp['avg_price']
bkk_table_dp_avg_price

67         375.0
134        175.0
247       1500.0
319        375.0
382        175.0
           ...
246458      50.0
246472    1500.0
246508     375.0
246666     375.0
246721     375.0
Name: avg_price, Length: 3001, dtype: float64

### 4. หาค่าเฉลี่ย

In [42]:
bkk_table_dp_avg_price.mean()

392.5854715094968

## แก้ missing method 3 เติมค่าที่เหมาะสมตามกลุ่มของมัน

In [43]:
bkk_table[['avg_price']] = bkk_table[['avg_price']].fillna(bkk_table_dp_avg_price.mean())
bkk_table.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

              name                    city_name   avg_price
1     Corner House  Bangkok Metropolitan Region  392.585472
3   นันท์คาราโอเกะ  Bangkok Metropolitan Region  392.585472
4      Buono Caffe  Bangkok Metropolitan Region  392.585472
7         Sazanami  Bangkok Metropolitan Region  392.585472
10  Rotee Me Chabu  Bangkok Metropolitan Region  392.585472

In [44]:
#bkk_table[['avg_price']].fillna(bkk_table_dp_avg_price.mean(),inplace=True)
#bkk_table.head()

## EX9 : หาราคาเฉลี่ยของร้านในภูเก็ต และเติมแทนค่า missing ของจังหวัดภูเก็ต

In [45]:
new_table = w_restaurant_df[['name','city_name','avg_price']]
new_table

                                        name  ... avg_price
0                           นครินทร์ทันตกรรม  ...       NaN
1                               Corner House  ...       NaN
2                             วัดโลกยสุธาราม  ...       NaN
3                             นันท์คาราโอเกะ  ...       NaN
4                                Buono Caffe  ...       NaN
...                                      ...  ...       ...
246842                            Sushi Tama  ...       NaN
246843                     สะบายดี คาราโอเกะ  ...       NaN
246844                      สเต็กแม่&กาแฟลูก  ...       NaN
246845                              Mom Made  ...       NaN
246846  ก๋วยเตี๋ยวหมูน้ำตก ก๋วยเตี๋ยวเรือทอง  ...       NaN

[246847 rows x 3 columns]

In [46]:
selected_list = new_table['city_name']=='Phuket'
selected_list

0         False
1         False
2         False
3         False
4         False
          ...
246842    False
246843    False
246844    False
246845    False
246846    False
Name: city_name, Length: 246847, dtype: bool

In [47]:
# 1. เลือกเฉพาะร้านในภูเก็ต
phuket_table = new_table[new_table['city_name']=='Phuket']
phuket_table.head()

                     name city_name  avg_price
53   เดอะฟอร์เต้ไอซ์แลนด์    Phuket        NaN
74    ร้านอาหารในยางปาร์ค    Phuket        NaN
91           ใต้ต้นมะม่วง    Phuket       50.0
96      อาหารเกาหลีชินจอง    Phuket        NaN
190            ไชน่าอินน์    Phuket        NaN

In [48]:
# 2. ลบ missing
phuket_table_dp = phuket_table.dropna()
phuket_table_dp.head()

                  name city_name  avg_price
91        ใต้ต้นมะม่วง    Phuket       50.0
470   Ang Ku Tea House    Phuket      175.0
1552        ตู้กับข้าว    Phuket      175.0
1779   บุญรัตน์ ติ่มซำ    Phuket       50.0
2080      โพงพางซีฟู้ด    Phuket      375.0

In [49]:
# 3. เลือกเฉพาะ column 'avg_price'
phuket_table_dp_avg_price = phuket_table_dp['avg_price']
phuket_table_dp_avg_price

91         50.0
470       175.0
1552      175.0
1779       50.0
2080      375.0
          ...
244655     50.0
245848     50.0
245935     50.0
246093     50.0
246660     50.0
Name: avg_price, Length: 378, dtype: float64

In [50]:
# 4. หาค่าเฉลี่ย
phuket_table_dp_avg_price.mean()

181.4814814814815

In [51]:
# 5. แก้ missing method 3 เติมค่าที่เหมาะสมตามกลุ่มของมัน
phuket_table[['avg_price']] = phuket_table[['avg_price']].fillna(phuket_table_dp_avg_price.mean())
phuket_table.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

                     name city_name   avg_price
53   เดอะฟอร์เต้ไอซ์แลนด์    Phuket  181.481481
74    ร้านอาหารในยางปาร์ค    Phuket  181.481481
91           ใต้ต้นมะม่วง    Phuket   50.000000
96      อาหารเกาหลีชินจอง    Phuket  181.481481
190            ไชน่าอินน์    Phuket  181.481481

## หาราคาเฉลี่ยของร้านในชลบุรี และเติมแทนค่า missing ของจังหวัดชลบุรี

In [53]:
ch_table = new_table[new_table['city_name']=='Chon Buri']
ch_table[['avg_price']] = ch_table[['avg_price']].fillna(ch_table.mean())
ch_table.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

                           name  city_name   avg_price
5                   บ้านมุมสบาย  Chon Buri  283.547619
15  The Rabbit หมูกระทะนานาชาติ  Chon Buri  283.547619
42       ก๋วยเตี๋ยวเป็ด ณ.พัทยา  Chon Buri  283.547619
45  ซันเซ็ทพาร์ครีสอร์ตแอนด์สปา  Chon Buri  283.547619
68          Oldies Bar & Bistro  Chon Buri  283.547619

## [PD] ต่อตารางในแนวแกน Y (เพิ่มจำนวน data) pd.concat

In [56]:
pd.concat([bkk_table, phuket_table, ch_table])          # list ของตารางของแต่ละจังหวัด คือการรวมกันเป็นตารางใหญ่

                            name                    city_name   avg_price
1                   Corner House  Bangkok Metropolitan Region  392.585472
3                 นันท์คาราโอเกะ  Bangkok Metropolitan Region  392.585472
4                    Buono Caffe  Bangkok Metropolitan Region  392.585472
7                       Sazanami  Bangkok Metropolitan Region  392.585472
10                Rotee Me Chabu  Bangkok Metropolitan Region  392.585472
...                          ...                          ...         ...
246754        บะหมี่หยก เป็ดย่าง                    Chon Buri  283.547619
246770              Café Terrace                    Chon Buri  283.547619
246782             CoCoICHIBANYA                    Chon Buri  283.547619
246804                Reva Beach                    Chon Buri  283.547619
246824  โรงแรมทาวน์อินทาวน์พัทยา                    Chon Buri  283.547619

[119755 rows x 3 columns]

In [57]:
pd.concat([bkk_table, phuket_table, ch_table]).isnull().any()

name         False
city_name    False
avg_price    False
dtype: bool

## Looping (concat)

### 1. ดึงจังหวัดที่มีอยู่ทั้งหมดในตารางออกมา

In [58]:
new_table['city_name']

0                     Samut Songkhram
1         Bangkok Metropolitan Region
2            Phra Nakhon Si Ayutthaya
3         Bangkok Metropolitan Region
4         Bangkok Metropolitan Region
                     ...
246842    Bangkok Metropolitan Region
246843    Bangkok Metropolitan Region
246844    Bangkok Metropolitan Region
246845            Nakhon Si Thammarat
246846                    Suphan Buri
Name: city_name, Length: 246847, dtype: object

### set คือตัวซ้ำนับแค่ครั้งเดียว

In [60]:
all_cities = set(new_table['city_name'])
print(len(all_cities))
all_cities

479

{'Abu Dhabi',
 'Aichi-ken',
 'Akershus',
 'Akita-ken',
 'Al Farwaniyah Governorate',
 'Alabama',
 'Alaska',
 'Alberta',
 'Amnat Charoen',
 'Andalucía',
 'Ang Thong',
 'Aomori-ken',
 'Appenzell Ausserrhoden',
 'Appenzell Innerrhoden',
 'Aragón',
 'Argyll and Bute',
 'Arizona',
 'Attica',
 'Auckland',
 'Australia',
 'Auvergne-Rhône-Alpes',
 'Aydın',
 'Ba Ria - Vung Tau',
 'Baden-Wurttemberg',
 'Bago Region',
 'Bahia',
 'Bali',
 'Balochistan',
 'Bangkok Metropolitan Region',
 'Banteay Meanchey Province',
 'Banten',
 'Basel-Stadt',
 'Basilicata',
 'Basrah',
 'Battambang',
 'Bay Of Plenty',
 'Bayern',
 'Berlin',
 'Bern',
 'Bihar',
 'Binh Thuan',
 'Binh Thuan province',
 'Borno',
 'Bratislava',
 'Bremen',
 'Bretagne',
 'British Columbia',
 'Brussels Hoofdstedelijk Gewest',
 'Buckinghamshire',
 'Budapest',
 'Bueng Kan',
 'Buri Ram',
 'Busan',
 'Buskerud',
 'C2 MALL',
 'CALABARZON',
 'Cairo Governorate',
 'California',
 'Cambodia',
 'Canterbury',
 'Capital Governorate',
 'Capital Region',
 'Capital Region of Denmark',
 'Castilla-La Mancha',
 'Catalonia',
 'Central Development Region',
 'Central Visayas',
 'Centre-Val de Loire',
 'Chachoengsao',
 'Chai Nat',
 'Chaiyaphum',
 'Champasak Province',
 'Changhua County',
 'Chanthaburi',
 'Chiang Mai',
 'Chiang Rai',
 'Chiayi City',
 'Chiayi County',
 'Chiba-ken',
 'China',
 'Chon Buri',
 'Chongqing Shi',
 'Chumphon',
 'Chungcheongnam-do',
 'City of Zagreb',
 'Colorado',
 'Comunidad de Madrid',
 'County Cork',
 'County Dublin',
 'County Galway',
 'County Kerry',
 'Cusco',
 'Daegu',
 'Daejeon',
 'Daerah Brunei-Muara',
 'Daerah Istimewa Yogyakarta',
 'Dar es Salaam',
 'Delhi',
 'Denizli',
 'Departamento de La Paz',
 'Departamento de Potosí',
 'District of Columbia',
 'Dubai',
 'Dubrovačko-neretvanska županija',
 'Ehime-ken',
 'England',
 'Espoo',
 'Federal',
 'Finland',
 'Finnmark',
 'Florida',
 'Fribourg',
 'Fujian Sheng',
 'Fukui-ken',
 'Fukuoka-ken',
 'Fukushima-ken',
 'Gangwon-do',
 'Gelderland',
 'Geneva',
 'George Town',
 'Georgia',
 'Gifu-ken',
 'Gloucestershire',
 'Gombe',
 'Grand Est',
 'Graubünden',
 'Greater London',
 'Greater Manchester',
 'Guangdong Sheng',
 'Guangxi Zhuangzuzizhiqu',
 'Guinea',
 'Gunma-ken',
 'Gyeonggi-do',
 'Gyeongsangbuk-do',
 'Hainan Sheng',
 'Hampshire',
 'Harju maakond',
 'Hauts-de-France',
 'Hawaii',
 'Hessen',
 'Hiiraan',
 'Hiroshima-ken',
 'Hokkaido',
 'Hordaland',
 'Hsinchu City',
 'Hsinchu County',
 'Hua Hin',
 'Hunan',
 'Hyogo-ken',
 'Hà Nội',
 'Höfn í Hornafirði',
 'Hồ Chí Minh',
 'Ibaraki-ken',
 'Iceland',
 'Illinois',
 'Incheon',
 'India',
 'Inner Mongolia',
 'Ireland',
 'Ishikawa-ken',
 'Istanbul',
 'Iwate-ken',
 'Jakarta Capital Region',
 'Jawa Barat',
 'Jawa Timur',
 'Jeju-do',
 'Jeollabuk-do',
 'Jharkhand',
 'Jiangsu Sheng',
 'Jiangxi Sheng',
 'Jihočeský kraj',
 'Johor',
 'Județul Constanța',
 'Kagoshima',
 'Kalasin',
 'Kamphaeng Phet',
 'Kanagawa-ken',
 'Kanchanaburi',
 'Kaohsiung City',
 'Karlovy Vary Region',
 'Karnataka',
 'Kayes',
 'Kedah',
 'Keelung City',
 'Kelantan',
 'Kepulauan Riau',
 'Khammouane Province',
 'Khartoum',
 'Khon Kaen',
 'Khánh Hoà',
 'Kinshasa',
 'Koh Kong Province',
 'Kowloon',
 'Krabi',
 'Kumamoto-ken',
 'Kyoto-fu',
 'København',
 'Lac',
 'Lampang',
 'Lamphun',
 'Lancashire',
 'Lao Cai',
 'Lazio',
 "Leningradskaya oblast'",
 'Liaoning',
 'Liguria',
 'Lima',
 'Limerick',
 'Lisboa',
 'Lithuania',
 'Ličko-senjska županija',
 'Loei',
 'Lombardia',
 'Lopburi',
 'Louisiana',
 'Luang Prabang Province',
 'Luxembourg',
 'Luxor Governorate',
 'Luzern',
 'Lâm Đồng',
 'Macau',
 'Madrid',
 'Magway Region',
 'Maha Sarakham',
 'Maharashtra',
 'Malacca',
 'Maldives',
 'Mandalay Region',
 'Marlborough',
 'Maryland',
 'Masovian Voivodeship',
 'Massachusetts',
 'Mayo',
 'Metro Manila',
 'Michigan',
 'Mid-Western Development Region',
 'Mie-ken',
 'Minnesota',
 'Miyagi-ken',
 'Mon State',
 'Moscow',
 "Moskovskaya oblast'",
 'Mukdahan',
 'Munxar',
 "Murmanskaya oblast'",
 'Nagano-ken',
 'Nagasaki-ken',
 'Nakhon Nayok',
 'Nakhon Phanom',
 'Nakhon Ratchasima',
 'Nakhon Sawan',
 'Nakhon Si Thammarat',
 'Nan',
 'Nantou County',
 'Nara-ken',
 'Narathiwat',
 'Naxos',
 'Negeri Sembilan',
 'Nevada',
 'Nevsehir',
 'New Hampshire',
 'New Jersey',
 'New South Wales',
 'New Taipei City',
 'New Territories',
 'New York',
 'New Zealand',
 'Newfoundland and Labrador',
 'Nghệ An',
 'Niedersachsen',
 'Niederösterreich',
 'Niigata-ken',
 'Nong Bua Lam Phu',
 'Nong Khai',
 'Noord-Holland',
 'Nordrhein-Westfalen',
 'Normandie',
 'North Central Province',
 'Northern Ireland',
 'Northern Territory',
 'Nouvelle-Aquitaine',
 "Novosibirskaya oblast'",
 'Nusa Tenggara Barat',
 'Oaxaca',
 'Oberösterreich',
 'Obwalden',
 'Ohio',
 'Okayama-ken',
 'Okinawa-ken',
 'Oklahoma',
 'Ontario',
 'Oregon',
 'Oslo',
 'Otago',
 'Pahang',
 'Pakistan',
 'Palau',
 'Pardubice Region',
 'Pattani',
 'Penang',
 'Pennsylvania',
 'Perak',
 'Phang-nga',
 'Phatthalung',
 'Phayao',
 'Phetchabun',
 'Phetchaburi',
 'Phichit',
 'Phitsanulok',
 'Phnom Penh',
 'Phra Nakhon Si Ayutthaya',
 'Phrae',
 'Phuket',
 'Piemonte',
 'Plzeň Region',
 'Porto',
 'Postojna',
 'Prachin Buri',
 'Prachuap Khiri Khan',
 'Prague',
 'Preah Sihanouk',
 'Primorskiy kray',
 'Primorsko-goranska županija',
 "Provence-Alpes-Côte d'Azur",
 'Pulau Pinang',
 'Punjab',
 'Qatar',
 'Qinghai Sheng',
 'Quebec',
 'Queensland',
 'Quảng Nam',
 'Quảng Ninh',
 'Ranong',
 'Ratchaburi',
 'Rayong',
 'Region Zealand',
 'Rheinland-Pfalz',
 'Riau',
 'Roi Et',
 'Région de Kidal',
 'Rīgas pilsēta',
 'Sa Kaeo',
 'Sabah',
 'Sachsen-Anhalt',
 'Saga-ken',
 'Saint Petersburg',
 'Sainyabuli Province',
 'Saitama-ken',
 'Sakon Nakhon',
 'Salzburg',
 'Samut Songkhram',
 'Sankt Gallen',
 'Saraburi',
 'Satun',
 'Savannakhet Province',
 'Saxony',
 'Schaffhausen',
 'Scotland',
 'Selangor',
 'Seoul',
 'Setúbal',
 'Shaanxi Sheng',
 'Shan',
 'Shandong Sheng',
 'Shanghai',
 'Shanxi Sheng',
 'Shiga-ken',
 'Shizuoka-ken',
 'Si Sa Ket',
 'Sichuan Sheng',
 'Siem Reap',
 'Sing Buri',
 'Singapore',
 'Slough',
 'South Carolina',
 'Southern Islands',
 'Southland',
 'Splitsko-dalmatinska županija',
 'Stavropolskiy kray',
 'Stockholms län',
 'Sukhothai',
 'Sumatera Utara',
 'Suphan Buri',
 'Surat Thani',
 'Surin',
 'Svay Rieng',
 'Taichung City',
 'Tainan City',
 'Taipei City',
 'Tak',
 'Tamil Nadu',
 'Tanintharyi Region',
 'Taoyuan City',
 'Tasmania',
 'Tehran',
 'Telangana',
 'Texas',
 'Thailand',
 'Thimphu',
 'Thua Thien Hue',
 'Tianjin',
 'Ticino',
 'Tirol',
 'Tochigi-ken',
 'Tokyo-to',
 'Tottori-ken',
 'Toyama-ken',
 'Trabzon',
 'Trang',
 'Trat',
 'Troms',
 'Tuscany',
 'Ubon Ratchathani',
 'Udon Thani',
 'Uri',
 'Utah',
 'Uthai Thani',
 'Utrecht',
 'Uttar Pradesh',
 'Uttaradit',
 'Vaduz',
 'Valais',
 'Valletta',
 'Vantaa',
 'Vaud',
 'Veneto',
 'Victoria',
 'Vientiane Prefecture',
 'Vientiane Province',
 'Virginia',
 'Vlaanderen',
 "Vladimirskaya oblast'",
 'Vorarlberg',
 'Waikato',
 'Wakayama-ken',
 'Wales',
 'Wallonie',
 'Washington',
 'Waterford',
 'West Bengal',
 'West Midlands',
 'West Sussex',
 'Western Australia',
 'Western Cape',
 'Wien',
 'Wilayah Persekutuan Putrajaya',
 'Wisconsin',
 'Województwo podkarpackie',
 'Xinjiang Weiwuerzizhiqu',
 'Xizang (Tibet)',
 'Yala',
 'Yamagata-ken',
 'Yamaguchi-ken',
 'Yamanashi-ken',
 'Yangon',
 'Yasothon',
 'Yilan County',
 'Yunlin County',
 'Yunnan Sheng',
 'Zhejiang',
 'Zuid-Holland',
 'Zurich',
 'kujawsko-pomorskie',
 'lubelskie',
 'małopolskie',
 'pomorskie',
 'tỉnh Kiên Giang',
 'wielkopolskie',
 'Çanakkale',
 'Île-de-France',
 'Điện Biên',
 'Đà Nẵng',
 'İstanbul',
 'İzmir',
 'Ōita-ken',
 'Ōsaka-fu',
 'محافظة المحرق',
 'สงขลา',
 'เขาใหญ่'}

### 2. จะคำนวณค่า mean ของ column 'city_name' เพื่อเก็บไว้เติมใส่เมืองที่เป็น missing ทุกร้าน

In [62]:
all_mean = new_table.dropna(subset=['avg_price'])['avg_price'].mean()
all_mean

327.44728783902013

### 3. สร้าง list ของตารางของทุกๆจังหวัด

In [74]:
all_cities_list = []
for each_city in sorted(list(all_cities)):           # sorted คือเรียงลำดับ
  temp_table = new_table[new_table['city_name']==each_city]
  temp_table[['avg_price']] = temp_table[['avg_price']].fillna(new_table[new_table['city_name']==each_city].dropna()['avg_price'].mean())
  all_cities_list.append(temp_table)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [77]:
no_missing = pd.concat(all_cities_list).fillna(all_mean)           # fillna คือแทนค่า mean ที่มีอยู่แล้วใน Na (missing)
no_missing

                                name  city_name   avg_price
56391   Smoking Doll Nation Galleria  Abu Dhabi  327.447288
67914        PRET TO GO (Terminal 1)  Abu Dhabi  327.447288
123536                     Keway Mai  Abu Dhabi  327.447288
142972                    La Brioche  Abu Dhabi  327.447288
223144               White Dot Table  Abu Dhabi  327.447288
...                              ...        ...         ...
246412                   ครัวข้าวสวย    เขาใหญ่  327.447288
246418             ร้านอาหารดาวเดือน    เขาใหญ่  327.447288
246780                        กาแฟสด    เขาใหญ่  327.447288
246791         ยู้ ลูกชิ้นปลาเยาวราช    เขาใหญ่  327.447288
246832                     โชคดีกาแฟ    เขาใหญ่  327.447288

[246847 rows x 3 columns]

In [81]:
london_index_list = no_missing['city_name']=='Greater London'        
no_missing[london_index_list]

                                name       city_name   avg_price
3580                     Greene King  Greater London  327.447288
5402                          Miyama  Greater London  327.447288
6375                          Misato  Greater London  327.447288
7644                 Duck And Waffle  Greater London  327.447288
8343      L'Atelier De Joel Robuchon  Greater London  327.447288
...                              ...             ...         ...
238648                           CnR  Greater London  327.447288
241688                       nando's  Greater London  327.447288
243077                      Cakehole  Greater London  327.447288
243749                  The Refinery  Greater London  327.447288
246443  Park Grand London Kensington  Greater London  327.447288

[166 rows x 3 columns]

In [83]:
index_list = no_missing['avg_price'] < 15
no_missing[index_list]

                                     name  ... avg_price
18161                          ดรีมเวิลด์  ...       0.0
58579                      รามคลินิกแพทย์  ...       0.0
139618    Klong Lat Mayom floating market  ...       0.0
204196                     โภชนากร หนองมน  ...      11.0
167551  ทรีท็อปแอดเวนเจอร์พาร์ค กาญจนบุรี  ...       4.0

[5 rows x 3 columns]

In [86]:
index_list = no_missing['avg_price'] > 1000
no_missing[index_list]

                                         name  ... avg_price
247                        Masterpiece clinic  ...    1500.0
3022             J'AIME by Jean-Michel Lorain  ...    1500.0
4798                              Xin Tian Di  ...    1500.0
5804          P10 Clinic ( Surgery Cosmetic )  ...    1500.0
7186                         THYME Eatery&Bar  ...    1500.0
...                                       ...  ...       ...
62474                                   Acqua  ...    1500.0
160729        Haven Love Cake By Love Andaman  ...    1500.0
221495  Panache (Angsana Villa Reaort Phuket)  ...    1500.0
57063       Jahn restaurant @Conrad Koh samui  ...    1500.0
203721           WOO BAR  W Retreat Koh Samui  ...    1500.0

[185 rows x 3 columns]

## HW10 : ทำ Binning smooth by mean ค่า 'avg_price' ในตาราง no_missing
## แบ่งเป็น 50 กลุ่ม (bins = 50 : ตอนจบมี 50 ค่า)