<a href="https://colab.research.google.com/github/iam-fern/DPDM/blob/master/Pandas_and_Data_Preprocessing_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![panda.jpg]()

In [3]:
from google.colab import drive
drive.mount('/content/drive')

base_path = '/content/drive/My Drive/DWDM_material'

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [8]:
import os
import pandas as pd

In [10]:
search_click = os.path.join(base_path, 'search_click.csv')
w_restaurant = os.path.join(base_path, 'w_restaurant.csv')

In [13]:
search_click_df = pd.read_csv(search_click)   
search_click_df.head()                          # show head of the data table

  click_timestamp                             search_id  ...  time_diff_nanos   ads
0         11:38.9  5c004472-5ecc-4159-9698-9f329b8e26e1  ...     2.222400e+15  True
1         30:51.3  5f34eca0-c04e-4c10-b600-54aa447dbd8e  ...     4.608380e+14  True
2         32:09.6  8dc6d1f0-11f1-4239-9dd2-5c1674c81224  ...     2.581490e+15  True
3         00:59.8  1a5810e9-3d1f-44b9-9a2e-26ede21c524b  ...     1.404580e+15  True
4         23:36.8  6bc75e0d-fc65-471e-9926-ff6be6708639  ...     9.333590e+14  True

[5 rows x 6 columns]

In [14]:
w_restaurant_df = pd.read_csv(w_restaurant)
w_restaurant_df.head()                          # show head of the data table

   id              name  domain_id  ...  hotel_restaurant pet_friendly delivery
0   2  นครินทร์ทันตกรรม          2  ...               NaN          NaN      NaN
1   4      Corner House          1  ...               NaN          NaN      NaN
2   5    วัดโลกยสุธาราม          4  ...               NaN          NaN      NaN
3   6    นันท์คาราโอเกะ          1  ...               NaN          NaN      NaN
4   7       Buono Caffe          1  ...               NaN          NaN      NaN

[5 rows x 32 columns]

shape คือดูรูปร่างของตารางว่าเป็นอย่างไร

In [15]:
search_click_df.shape

(1048575, 6)

In [16]:
w_restaurant_df.shape     # จำนวน row กับจำนวน colum มี 32 แอคทิบิว/ฟีเจอร์

(246847, 32)

In [17]:
search_click_df.shape[0]

1048575

## 0. Point to data in the table

In [18]:
search_click_df['search_id']

0          5c004472-5ecc-4159-9698-9f329b8e26e1
1          5f34eca0-c04e-4c10-b600-54aa447dbd8e
2          8dc6d1f0-11f1-4239-9dd2-5c1674c81224
3          1a5810e9-3d1f-44b9-9a2e-26ede21c524b
4          6bc75e0d-fc65-471e-9926-ff6be6708639
                           ...
1048570    99aab616-6fc5-4fbf-994b-4aebee7bb360
1048571    d70a2c5d-ee94-4e4c-9f7c-c5faac6db12a
1048572    4c1de7fe-300e-41aa-9d01-914344fc3753
1048573    2ec0ddec-e450-4b98-9779-42b77aa7eda5
1048574    5741d9cf-b9f1-441d-aa83-d2b0179bf874
Name: search_id, Length: 1048575, dtype: object

In [19]:
search_click_df['search_id'][0]         # เรียกใช้เฉพาะบาง colum

'5c004472-5ecc-4159-9698-9f329b8e26e1'

In [20]:
w_restaurant_df[['name', 'city_name', 'weighted_average_rating']]

                                        name  ... weighted_average_rating
0                           นครินทร์ทันตกรรม  ...                5.000000
1                               Corner House  ...                2.000000
2                             วัดโลกยสุธาราม  ...                4.000000
3                             นันท์คาราโอเกะ  ...                0.000000
4                                Buono Caffe  ...                3.738462
...                                      ...  ...                     ...
246842                            Sushi Tama  ...                3.663522
246843                     สะบายดี คาราโอเกะ  ...                0.000000
246844                      สเต็กแม่&กาแฟลูก  ...                4.000000
246845                              Mom Made  ...                5.000000
246846  ก๋วยเตี๋ยวหมูน้ำตก ก๋วยเตี๋ยวเรือทอง  ...                3.000000

[246847 rows x 3 columns]

# .iloc จะมองตัวตารางเป็นเมทริกซ์ หน้าคือแถว หลังคือหลัก

In [21]:
search_click_df.iloc[0, 1]

'5c004472-5ecc-4159-9698-9f329b8e26e1'

In [22]:
search_click_df.iloc[:10 , :2]

  click_timestamp                             search_id
0         11:38.9  5c004472-5ecc-4159-9698-9f329b8e26e1
1         30:51.3  5f34eca0-c04e-4c10-b600-54aa447dbd8e
2         32:09.6  8dc6d1f0-11f1-4239-9dd2-5c1674c81224
3         00:59.8  1a5810e9-3d1f-44b9-9a2e-26ede21c524b
4         23:36.8  6bc75e0d-fc65-471e-9926-ff6be6708639
5         48:16.7  92ea02ba-2c89-4efd-973c-e23526c531de
6         39:18.4  79d61918-fb3e-4181-99b6-7a7abddfcdb1
7         33:39.0  7f8b2b57-dea1-4fe1-84c8-5a7d63750e47
8         07:48.3  3d9217bb-3eae-42b5-8cf3-a756efae2cfa
9         41:25.4  a2cb0d41-6e1f-4169-9140-cb671fbb41dc

## 1. Missing Value

In [23]:
search_click_df.isnull()          # จะเป็นการเช็คว่าเจอ missing value หรือไม่ ถ้าไม่มีก็จะขึ้นว่า false ว่าไม่เจอ

         click_timestamp  search_id  ...  time_diff_nanos    ads
0                  False      False  ...            False  False
1                  False      False  ...            False  False
2                  False      False  ...            False  False
3                  False      False  ...            False  False
4                  False      False  ...            False  False
...                  ...        ...  ...              ...    ...
1048570            False      False  ...            False  False
1048571            False      False  ...            False  False
1048572            False      False  ...            False  False
1048573            False      False  ...            False  False
1048574            False      False  ...            False  False

[1048575 rows x 6 columns]

In [24]:
search_click_df.isnull().any()        # สรุปความจริงทั้งหมดในฝั่ง colum

click_timestamp     False
search_id            True
business_id          True
display_position    False
time_diff_nanos     False
ads                 False
dtype: bool

In [25]:
search_click_df.isnull().all()

click_timestamp     False
search_id           False
business_id         False
display_position    False
time_diff_nanos     False
ads                 False
dtype: bool

In [27]:
search_click_df.isnull().any().any()

True

In [28]:
search_click_df_nm = search_click_df.dropna()  # ลบแถวที่มี missing ออก

In [29]:
search_click_df_nm.isnull().any().any()

False

In [30]:
print(search_click_df.shape)
print(search_click_df_nm.shape)

(1048575, 6)
(1048206, 6)

In [33]:
search_click_df.shape[0] - search_click_df_nm.shape[0]

369

## Excercise 1 ตรวจสอบว่าการลบข้อมูล missing ออกจากตาราง w_restarant จะทำให้ข้อมูลลดลงกี่ %

In [36]:
w_restaurant_df.isnull()

           id   name  domain_id  ...  hotel_restaurant  pet_friendly  delivery
0       False  False      False  ...              True          True      True
1       False  False      False  ...              True          True      True
2       False  False      False  ...              True          True      True
3       False  False      False  ...              True          True      True
4       False  False      False  ...              True          True      True
...       ...    ...        ...  ...               ...           ...       ...
246842  False  False      False  ...              True          True      True
246843  False  False      False  ...              True          True      True
246844  False  False      False  ...              True          True      True
246845  False  False      False  ...              True          True      True
246846  False  False      False  ...              True          True      True

[246847 rows x 32 columns]

In [37]:
w_restaurant_df.isnull().any()

id                         False
name                       False
domain_id                  False
closed                     False
city_name                  False
zipcode                     True
geohash                    False
new_open                   False
weighted_average_rating    False
number_of_chains            True
number_of_bookmarks         True
number_of_reviews          False
number_of_product_tags     False
total_number_of_views      False
number_of_checkins         False
number_of_menu_groups      False
number_of_menu_photos      False
category_name              False
price_range                 True
avg_price                   True
parking                     True
credit_card_accepted        True
good_for_groups             True
good_for_kids               True
bookable                    True
best_of_wongnai             True
wifi                        True
number_of_seats             True
music_venue                 True
hotel_restaurant            True
pet_friendly                True
delivery                    True
dtype: bool

In [39]:
w_restaurant_df_nm = w_restaurant_df.dropna()
w_restaurant_df_nm

            id                  name  ...  pet_friendly  delivery
23976    36475  เซี๊ยะก๋วยเตี๋ยวเป็ด  ...           0.0       1.0
81107   126467        Cheevit Cheeva  ...           0.0       0.0
100828  152705         Cafe' Kantary  ...           0.0       0.0
220216  304296             ครัวอัปษร  ...           0.0       1.0

[4 rows x 32 columns]

In [40]:
print(w_restaurant_df.shape)
print(w_restaurant_df_nm.shape)

(246847, 32)
(4, 32)

In [41]:
w_restaurant_df.shape[0] - w_restaurant_df_nm.shape[0]

246843

In [42]:
(w_restaurant_df.shape[0] - w_restaurant_df_nm.shape[0])/(w_restaurant_df.shape[0])*100

99.99837956304918

## Method 1.5

In [43]:
w_restaurant_df.isnull().any()

id                         False
name                       False
domain_id                  False
closed                     False
city_name                  False
zipcode                     True
geohash                    False
new_open                   False
weighted_average_rating    False
number_of_chains            True
number_of_bookmarks         True
number_of_reviews          False
number_of_product_tags     False
total_number_of_views      False
number_of_checkins         False
number_of_menu_groups      False
number_of_menu_photos      False
category_name              False
price_range                 True
avg_price                   True
parking                     True
credit_card_accepted        True
good_for_groups             True
good_for_kids               True
bookable                    True
best_of_wongnai             True
wifi                        True
number_of_seats             True
music_venue                 True
hotel_restaurant            True
pet_friendly                True
delivery                    True
dtype: bool

In [44]:
w_restaurant_df.dropna(subset=['id', 'name', 'avg_price']).shape        # เลือกดูเฉพาะ 'id', 'name', 'avg_price'

(4572, 32)

In [47]:
w_rest_dropped_avgprice = w_restaurant_df.dropna(subset=['id', 'name', 'avg_price'])
w_rest_dropped_avgprice.head()

      id                         name  ...  pet_friendly  delivery
11    27              แพอาหารธาราบุรี  ...           NaN       NaN
67   123                  เล็กกุ้งเผา  ...           NaN       NaN
91   175                 ใต้ต้นมะม่วง  ...           NaN       NaN
129  262  Oniku Shabushabu & Yakiniku  ...           NaN       1.0
134  271                     Cafe Cha  ...           NaN       NaN

[5 rows x 32 columns]

In [49]:
w_restaurant_df.dropna(subset=['id', 'name', 'avg_price'])['avg_price'].mean()          # หา mean เฉพาะ colum

327.44728783902013

## Method 2 (replace with reasonable value) : เติมเลขที่สมเหตุสมผล
we are replacing missing value in the number of chains with 0   #number of chains : จำนวนสาขา

In [51]:
w_restaurant_df[['number_of_chains']] = w_restaurant_df[['number_of_chains']].fillna(0)       # แก้ด้วยการแทนค่าเลขที่เราต้องการ ชื่อนี้ ตารางนี้ จะถูกแทนค่าด้วย 0 แต่เติมด้วยเลขนี้เพราะว่าอะไร

In [52]:
w_restaurant_df.isnull().any()

id                         False
name                       False
domain_id                  False
closed                     False
city_name                  False
zipcode                     True
geohash                    False
new_open                   False
weighted_average_rating    False
number_of_chains           False
number_of_bookmarks         True
number_of_reviews          False
number_of_product_tags     False
total_number_of_views      False
number_of_checkins         False
number_of_menu_groups      False
number_of_menu_photos      False
category_name              False
price_range                 True
avg_price                   True
parking                     True
credit_card_accepted        True
good_for_groups             True
good_for_kids               True
bookable                    True
best_of_wongnai             True
wifi                        True
number_of_seats             True
music_venue                 True
hotel_restaurant            True
pet_friendly                True
delivery                    True
dtype: bool

## Method 2.1 (replace with unknown value) : เติมด้วย unknown
## Method 2.2 (replace with mean) : เติมด้วยค่าเฉลี่ยของช่องนั้น

## Method 3

In [ ]:
new_table = w_restaurant_df
new_table

## [PD] selected

In [53]:
selected_list = new_table['city_name'] == 'Bangkok Metropolitan Region'         # list ของชื่อในคอลัมเนม ค่าไหนเท่ากับ กทม. ก็จะเป็น true
selected_list

NameError: ignored

In [ ]:
new_table[selected_list].head()

In [ ]:
new_table[new_table['city_name'] == 'Bangkok Metropolitan Region'].head()

## หาราคาเฉลี่ยของร้านในจังหวัดกรุงเทพ

## EX9 : หาราคาเฉลี่ยของร้านในภูเก็ต และเติมแทนค่า missing ของจังหวัดภูเก็ต