<a href="https://colab.research.google.com/github/iam-fern/DPDM/blob/master/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [127]:
import pandas
import pandas as pd
import os

In [128]:
from google.colab import drive

In [129]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [130]:
base_path = '/content/drive/My Drive/DWDM_material'

In [131]:
os.listdir(base_path)

['test.csv',
 'metadata.xlsx',
 'search_click.csv',
 'w_restaurant.csv',
 'Copy of search_click.csv',
 '03 สังคม.xls',
 '52835793_259306464964511_3851804852342489088_n.png',
 'reduced_marketbasket.csv',
 'Copy of w_restaurant.csv',
 'Preprocessing02.html',
 'teach02.csv',
 'teach.csv',
 'baboon.jpg',
 'data2.csv',
 'data1.gsheet',
 'data1.csv',
 'data3.gsheet',
 'data3.xlsx',
 'data3.csv']

In [132]:
Data1 = os.path.join(base_path, 'data1.csv')
Data2 = os.path.join(base_path, 'data2.csv')
Data3 = os.path.join(base_path, 'data3.xlsx')

In [134]:
Data1_df = pd.read_csv(Data1)   
Data1_df.head()

           จังหวัด  ... เกษตรกรผู้เลี้ยงสัตว์ปีกอื่นๆ(ครัวเรือน)
0    กรุงเทพมหานคร  ...                                       26
1          นนทบุรี  ...                                      214
2         ปทุมธานี  ...                                        1
3  พระนครศรีอยุธยา  ...                                    1,194
4          อ่างทอง  ...                                      463

[5 rows x 105 columns]

In [135]:
Data2_df = pd.read_csv(Data2)   
Data2_df.head()

     จังหวัด  ...  จำนวนโรงฆ่าสัตว์ของเอกชน(แห่ง)
0     กระบี่  ...                               7
1  กาญจนบุรี  ...                              48
2  กาฬสินธุ์  ...                              39
3  กำแพงเพชร  ...                              29
4    ขอนแก่น  ...                              22

[5 rows x 6 columns]

In [136]:
Data3_df = pd.read_excel(Data3)   
Data3_df.head()

           จังหวัด   2541   2543   2545  ...   2552     2554     2556     2558
0    กรุงเทพมหานคร  26054  26909  29589  ...  42380  48951.0  49190.8  45571.7
1      สมุทรปราการ  18100  15745  19680  ...  23359  23797.9  29575.3  25457.2
2          นนทบุรี  24211  24566  29119  ...  34626  35119.7  30663.6  36884.0
3         ปทุมธานี  21793  19282  22838  ...  26686  21615.5  33461.3  41056.9
4  พระนครศรีอยุธยา  12918  14904  13319  ...  25820  22301.7  26481.5  28379.4

[5 rows x 11 columns]

#### 0. Point to data in the table

In [152]:
Data3_df['จังหวัด']

0       กรุงเทพมหานคร
1         สมุทรปราการ
2             นนทบุรี
3            ปทุมธานี
4     พระนครศรีอยุธยา
           ...
72               ตรัง
73             พัทลุง
74            ปัตตานี
75               ยะลา
76           นราธิวาส
Name: จังหวัด, Length: 77, dtype: object

In [153]:
Data3_df['จังหวัด'][0]          # เรียกใช้เฉพาะบางตัวใน colum

'กรุงเทพมหานคร'

In [164]:
Data3_df.iloc[: , 10:11]          # .iloc จะมองตัวตารางเป็นเมทริกซ์ หน้าคือแถว หลังคือหลัก

       2558
0   45571.7
1   25457.2
2   36884.0
3   41056.9
4   28379.4
..      ...
72  23309.1
73  21478.3
74  17513.0
75  15583.8
76  19889.6

[77 rows x 1 columns]